@import "~bootstrap/scss/bootstrap";

.test {
    color: red
}

.side-bar {
    overflow:auto;
    height: calc(100vh - 150px);
    width: 200px;
}

.book-card {
    width: 23%;
    margin: 7px;
}

.book-price{
    color: #ff8152;
    font-weight: 600;
}

.text-orange{
    color:#ff8152
}

.appreciated-book {
    width: 150px;
    margin-right: 15px;
}